*~
aclocal.m4
autoconf.h
autoconf.h.in
autom4te.cache/
_build/
ChangeLog
config.status
configure
configure.ac
.deps/
hidden
INSTALL
_install/
*.log
Makefile
Makefile.in
mcwm
*.o
scripts/compile
scripts/depcomp
scripts/install-sh
scripts/missing
stamp-h1
.*.sw[op]
_test/
*.tar.*
